@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.fondonav{
    width: 100%;
    position: fixed;
    justify-content: space-between;
    display: flex;
    background-color: #f3f3f3;
   
}

.logo{
    display: flex;
    margin: 5px 100px;
   
    
}

.logo img{
    height: 35px;
 
}
    
.botones{
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;

  
}

.boton-1{
    background-color: #0095f6;
    color: rgb(249, 250, 250);
    border-radius: 7px;
    border: 0cap;
    padding: 5px 10px;
    margin: 5px;
    width: 100px;
}

.boton-2{
    background-color: #ffff;
    color: #0095f6;
    border-radius: 7px;
    border: 0cap;
    padding: 5px ;
    margin: 5px ;
}

.linea2{
    width: 100;
    height: 1px;
    margin: 100;
    background-color: #0000003d;
}

.muro{
    margin: 70px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.perfil{
    margin: 0px 50px 0px 0px;
    align-items: center;

}
.perfil img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.nombre{
    display: flex;

}

.verificado img{

    width: 20px;
    height: 20px;
}

.boton-3{
    background-color: #DBDBDB;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    border: 0cap;
    padding: 5px 10px;
    margin: 5px 0px 5px 20px;
    width: 100px;
}

.boton-4{
    background-color: #DBDBDB;
    color: #000000;
    border-radius: 7px;
    border: 0cap;
    padding: 5px ;
    margin: 5px ;
}

.seguidores{
    display: flex;
    margin: 15px 0px;
}

.nombre2{
    display: flex;
    margin: 15px 0px;
}

.tex1{
    margin: 0px 10px 0px 0px;
}


.tex2{
margin: 0px 10px 0px 0px;
}

.tex3{
margin: 0px 10px 0px 0px;
}

.historias{
    margin: 35px 150px;
    display: flex;
}

.seleccion img{

    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-top: #000000;
}

.fcb img{

    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.familia img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.seleccion {

    margin: 0px 30px 0px 0px;
    text-align: center;
}

.fcb{
    margin: 0px 30px 0px 0px;
    text-align: center;
}

.familia{
    text-align: center;
}



.linea{
    width: 100;
    height: 1px;
    margin: 0px 10% 0px 10%;
    background-color: #0000003d;
}

.iconop{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


.fila1{
    margin: 2px ;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    
}

.fila2{
    margin: 2px;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
   
  
}

.fila3{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  
}

.imgp{
    margin: 2px;

}

.cuentasrelacionadas{

    margin: 10px 100px 5px 100px;
    align-items: center;
    justify-content: center;
}

.crimg{
    margin: 5px 100px 5px 20px;
}

.creditos{

    margin: 50px;
    text-align: center;
}